.download {
    margin-top: 20vh;
    margin-bottom: 40vh;

    &_title {
        font-size: 4rem;
        font-family: $main_font;
        padding: 2vw;
        justify-content: center;
    }

    &_description {
        justify-content: center;
        text-align: center;
        margin-bottom: 4rem;
    }

    &_button {
        &_left {
            justify-content: left;
            text-align: left;
        }
        &_right {
            justify-content: right;
            text-align: right;
        }
    }
}