.footer {
    background-color: black;
    position: absolute;
	width: 100%;
    padding-bottom: 5vh;
    background-size: cover;   
    clip-path: polygon(0% 0%,100% 10%,100% 100%,0% 100%);

    &_overlap {
        color: white;
        margin-top: 8vh;

        &_title {
            text-align: left;
            font-family: $main_font;
            font-size: 1.5rem;
        }

        &_description {
            opacity: 0.8;
        }
    }
}