.login {
    // margin-top: 20vh;
    margin-bottom: 30vh;
    color: $primary-color;
    padding-top: 30vh;

    &_maintitle {
        font-size: 4rem;
        font-family: $main_font;
        line-height: 1;
        text-align: center;
        &_description {
            text-align: center;
            color: grey;
        }
    }
    &_line {
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    &_formlabel {
        font-family: $main_font;
        font-size: 2rem;
    }

    &_button {
        margin-top: 1vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $main_font;
        &_submit {
            margin-top: 3vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $main_font;
        }
    }

    &_icons{
        margin-right: 5px;
    }

    &_leftalign {
        text-align: left;
    }

    &_rightalign {
        text-align: right;
    }
}


// //FOR FONT SIZING ISSUES
// @media ( max-width: 460px ) {
//     .login_title {
//         font-size: 15vw;
//     }
// }