.pricing {
    margin-top: 20vh;
    margin-bottom: 40vh;

    &_title {
        font-size: $title_size;
        font-family: $main_font;
        text-align: center;
        line-height: 1;
    }

    &_description {
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 8vh;
    }
}

//FOR FONT SIZING ISSUES
@media ( max-width: 460px ) {
    .pricing_title {
        font-size: 13vw;
    }
}