.pricebox {
    color: black;
    border: 2px solid black;
    width: 30vw;
    &_title {
        font-family: $main_font;
        font-size: 3rem;
    }

    &_line {
        width: 15vw;
        border-bottom: 3px solid grey;
        margin-bottom: 10vh;
        margin: 
    }
}