.results {
    background-image: url('../../assets/shakehands.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 110%;
}