.menu {
    color: red;
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    font-size: 2.25rem;

}

.menu_header {
    justify-content: right;
}

.link_font_size {
    font-size: 1.25rem;
}

.navbar-expand-lg {
    padding-left: 2rem;
    padding-right: 2rem;
}